@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

#container{width:80%;max-width:650px;margin:4rem auto}

#container2{width:70%;max-width:650px;margin:4rem auto;}

#rubik{width:12rem; height:12rem; margin-left:1rem; margin-right: 1rem; margin-bottom:1rem; float:right;}

#project{width:12rem; height:12rem; margin-left:1rem; margin-right: 1rem; margin-bottom:1rem; float:left;}

#project2{width:10rem; height:12rem; margin-left:1rem; margin-right: 1rem; margin-bottom:1rem; float:left;}

#yoot{width:10rem; height:4rem;margin-left:1rem; margin-right: 1rem; margin-bottom:1rem; margin-top: 2rem; float:left;}


.c1{-webkit-text-decoration-skip:none;color:#326891;font-weight:400;text-decoration:underline;text-decoration-skip-ink:none;font-size:14pt;font-family:"Times New Roman"}

.title{padding-top:0pt;color:#000000;font-size:3rem;padding-bottom:0pt;font-family:"Rubik";line-height:0.5rem;page-break-after:avoid;orphans:2;widows:1;text-align:center}

.subtitle{padding-top:0pt;color:#326891;font-size:1.2rem;padding-bottom:4rem;font-family:"Times New Roman";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:center}

li{color:#000000;font-size:1rem;font-family:"Rubik"}

p{padding-top:1.2rem;margin:0;color:#333333;font-size:1.05rem;font-family:"Arial";line-height:1.5;}

d{padding-top:0rem;margin:0;color:#333333;font-size:1.05rem;font-family:"Arial";line-height:1.5;}

c{padding-top:0rem;margin:0;color:#326891;font-size:.75rem;font-family:"Arial";line-height:0;}

h1{padding-top:1rem;color:#000000;font-size:1.8rem;padding-bottom:0;font-family:"Rubik";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}

h2{padding-top:1rem;color:#000000;font-size:1.2rem;padding-bottom:0;font-family:"Georgia";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}

h3{padding-top:none;color:#000000;font-size:1.5rem;padding-bottom:0;font-family:"Rubik";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}

a {color: 326891;text-decoration: none;}
